[submodule "day1/RegressionAndClassification"]
	path = day1/RegressionAndClassification
	url = git@github.com:Astroinformatics/RegressionAndClassification.git
[submodule "day2/Regularization"]
	path = day2/Regularization
	url = git@github.com:Astroinformatics/Regularization.git
[submodule "day2/DimensionalReduction"]
	path = day2/DimensionalReduction
	url = git@github.com:Astroinformatics/DimensionalReduction.git
[submodule "day3/BayesianComputing"]
	path = day3/BayesianComputing
	url = git@github.com:Astroinformatics/BayesianComputing.git
[submodule "day3/NeuralNetworks"]
	path = day3/NeuralNetworks
	url = git@github.com:Astroinformatics/NeuralNetworks.git
[submodule "day4/VariationalInference"]
	path = day4/VariationalInference
	url = git@github.com:Astroinformatics/VariationalInference.git
[submodule "day4/ScientificMachineLearning"]
	path = day4/ScientificMachineLearning
	url = git@github.com:Astroinformatics/ScientificMachineLearning.git
[submodule "day5/HighPerformanceComputing"]
	path = day5/HighPerformanceComputing
	url = git@github.com:Astroinformatics/HighPerformanceComputing.git
[submodule "day0/Optimization"]
	path = day0/Optimization
	url = git@github.com:Astroinformatics/Optimization.git
